*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}
.center-flex{
    min-height: 100vh;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navbar */
.active{
    background-color: rgb(0,160,160)
}
.navbar-ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    z-index: 100;
}
li {
  float: left;
  background-color: #333333
}
li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 16px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: rgb(0,100,100);
  transition: 0.3s ease; 
}
/* End of Navbar */

/* Text Gradient */
/* Gradient Animation */

  @keyframes shine {
    to {
      background-position: 200% center;
    }
}
/* End of Gradient Animation */
h1 {
  background: -webkit-linear-gradient(45deg,#000000, #00AAAA);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  padding: 1.5vw;
  
}
h2{
   background: -webkit-linear-gradient(45deg,#ff3300, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1.5vw;
}
/* End of Text Gradient */

/* Background Image */
.bg-img1{
    background: url("../images/bulb6.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bg-img2{
    background: url("../images/bg2_lightbulb.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* End of Background Image */

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}
/* track */
::-webkit-scrollbar-track {
  background: #202020;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #333333;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End of Custom Scrollbar */

/* .footer{
    color: white;
    padding: 5px 10px;
    position: absolute;
    font-size: 1rem;
} */
.footer-home{
    position: relative;
    height: 25px;
    width: 100%;
    bottom: 0;
    background-color: #333333;
}